HTML {
    height: 100%;
}

BODY {
    background-color: #aaaaaa;
    height: 100%;
    margin: 0px;
}

DIV.Page {
		background-color: white;
		width: 900px;
		margin-left: auto;
		margin-right: auto;
		height: 100%;
}

DIV.Page DIV.Header{
		background-color: #dddddd;
		height: 64px;
		position: relative;
}

DIV.Page DIV.Header SPAN.Logout{
    position:absolute;
    bottom:0;
    right:0;
    margin: 6px;
    font-size: 120%;
}

DIV.Page DIV.Header SPAN.Logout A{
    color: black;
}

DIV.LoginView {
		float: right;
		margin-top: 30px;
}

DIV.LoginView FORM {
		margin: 3px;
}


DIV.PageContent {
	padding: 8px;
}

DIV.ErrorView {
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	color: red;
	font-weight: bold;
	border: 2px solid #5F0000;
	background-color: #FBFFB7;
	padding: 16px;
	text-align: center;
	margin-top: 32px;
	margin-bottom: 32px;
}

DIV.Message {
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	font-weight: bold;
	border: 2px solid #005F00;
	background-color: #B7FFB7;
	padding: 16px;
	text-align: center;
	margin-top: 32px;
	margin-bottom: 32px;
}

DIV.UserSignupFormView TH {
	text-align: right;
}

DIV.UserSignupFormView SPAN.Warning {
	color: red;
  font-weight: bold;
  display: none;
}

.ConfigurationError {
    color: red;
    font-weight: bold;
}

H1 {
    margin-bottom: 2px;
}

.Note {
    font-size: 80%;
    color: #797979;
}
