DIV.UIDSearchResults TABLE {
    text-align: left;
    border-collapse: collapse;
    border: 1px solid black;
    width: 100%;
}

DIV.UIDSearchResults TABLE TH {
    background-color: #4C4C4C;
    color: white;
}

DIV.UIDSearchResults TABLE TH, DIV.UIDSearchResults TABLE TD {
    padding-left: 6px;
    padding-right: 6px;
}

DIV.UIDSearchResults TABLE TD:nth-child(1), DIV.UIDSearchResults TABLE TH:nth-child(1){
    width: 5em;
    white-space: nowrap;
}

DIV.UIDSearchResults TABLE TR:nth-child(odd) {
    background-color: #eee;
}
