DIV.UIDFilesView H2 {
    margin-bottom: 0px;
}

DIV.UIDFilesView DIV.FileUpload {
    border: 1px solid black;
    margin-top: 8px;
    clear: left;
}

DIV.UIDFilesView DIV.FileUpload H3 {
    margin: 0px;
    padding: 3px;
    background-color: #eee;
}

DIV.UIDFilesView DIV.FileUpload FORM {
    margin: 3px;
}

DIV.UIDFilesView DIV.FileUpload FORM .FileSelector {
    width: 400px;
    border:1px solid grey;
    margin-right: 3px;
}

DIV.UIDFilesView DIV.File {
    float: left;
    text-align: center;
    padding: 3px;
    margin: 6px;
    border: 1px solid lightgrey;
}