DIV.UIDLogView TABLE {
    text-align: left;
    border-collapse: collapse;
    border: 1px solid black;
    width: 100%;
}

DIV.UIDLogView TABLE TH {
    background-color: #4C4C4C;
    color: white;
}

DIV.UIDLogView TABLE TH, DIV.UIDLogView TABLE TD {
    padding-left: 6px;
    padding-right: 6px;
}

DIV.UIDLogView TABLE TD:nth-child(3), DIV.UIDLogView TABLE TH:nth-child(3),
DIV.UIDLogView TABLE TD:nth-child(1), DIV.UIDLogView TABLE TH:nth-child(1){
    width: 1px;
    white-space: nowrap;
}

DIV.UIDLogView TABLE TR:nth-child(odd) {
    background-color: #eee;
}

DIV.UIDLogAddView {
    width: 100%;
}

DIV.UIDLogAddView FORM{
    width: 100%;
    display: flex;
}

DIV.UIDLogAddView FORM INPUT.Comment{
    flex-grow: 1;
}

